In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [ ]:
# Создаём сэмпл
n_samples = 1000

age_owner = np.random.choice(90, n_samples) + 21
length = np.random.choice(120, n_samples) + 15
width = np.random.choice(80, n_samples) + 10

price = length * width * 100 + 126 + np.random.randn(1000)*500

data = pd.DataFrame({'age_owner': age_owner, 'length': length, 'width': width, 'price': price})
data2 = data.copy()
data.head(5)

   age_owner  length  width          price
0         53     102     84  857341.751404
1        105      58     15   86318.145756
2         27      48     45  216041.956304
3         62      87     17  147689.620416
4         57      40     75  300089.165580

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age_owner  1000 non-null   int64
 1   length     1000 non-null   int64
 2   width      1000 non-null   int64
 3   price      1000 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 31.4 KB

In [ ]:
data.describe()

         age_owner       length        width         price
count  1000.000000  1000.000000  1000.000000  1.000000e+03
mean     64.675000    74.182000    48.879000  3.654891e+05
std      25.388658    33.939664    22.869267  2.557448e+05
min      21.000000    15.000000    10.000000  2.198860e+04
25%      43.000000    44.000000    29.000000  1.617157e+05
50%      63.500000    76.000000    48.000000  3.030305e+05
75%      87.000000   102.000000    69.000000  5.177136e+05
max     110.000000   134.000000    89.000000  1.183858e+06

In [ ]:
data.length.value_counts()

27     17
40     15
75     14
39     14
94     14
       ..
61      4
31      3
127     3
24      3
125     2
Name: length, Length: 120, dtype: int64

In [ ]:
data.describe()

         age_owner       length        width         price
count  1000.000000  1000.000000  1000.000000  1.000000e+03
mean     64.675000    74.182000    48.879000  3.654891e+05
std      25.388658    33.939664    22.869267  2.557448e+05
min      21.000000    15.000000    10.000000  2.198860e+04
25%      43.000000    44.000000    29.000000  1.617157e+05
50%      63.500000    76.000000    48.000000  3.030305e+05
75%      87.000000   102.000000    69.000000  5.177136e+05
max     110.000000   134.000000    89.000000  1.183858e+06

In [ ]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_owner', 'length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-170.57642309 4935.48143994 7483.83839163]
Bias: -355405.2538306958
Error: 58148.825913141955

In [ ]:
y.median()

303030.4555939683

In [ ]:
X = data[['length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [4928.71482831 7486.36212971]
Bias: -366058.6810042876
Error: 58123.449341936044

In [ ]:
# Создаем новый признак
data['mult'] = data['length'] * data['width']
data.head(5)

   age_owner  length  width          price  mult
0         53     102     84  857341.751404  8568
1        105      58     15   86318.145756   870
2         27      48     45  216041.956304  2160
3         62      87     17  147689.620416  1479
4         57      40     75  300089.165580  3000

In [ ]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [99.99699605]
Bias: 148.21190320356982
Error: 401.73696149382073

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

In [ ]:
poly = PolynomialFeatures(2 )
X = poly.fit_transform(data[['age_owner', 'length', 'width']])
y = data['price']
poly.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['1', 'x0', 'x1', 'x2', 'x0^2', 'x0 x1', 'x0 x2', 'x1^2', 'x1 x2', 'x2^2']

In [ ]:
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ 0.00000000e+00  6.61776412e+00  2.31905471e+00  3.17984111e+00
 -4.28597812e-02 -1.42029262e-02  6.28011237e-03 -8.95921310e-03
  9.99976837e+01 -3.73608541e-02]
Bias: -185.5223784527043
Error: 399.96339020753464